img{
    width: 200px;
    height: 200px;
    object-fit: contain;

}

.card-img-top{
    padding: 20px;
}

.carregando{
    background-color: rgb(11, 110, 232);
    color: rgba(255, 255, 255, 0.876);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.botao button{
    background-color: rgb(217, 227, 227);
    margin: 4px 4px;
}
button{
    background-color: rgb(0, 234, 0);
    border: none;
    padding: 8px;
    border-radius: 10px;
}

.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.card{
    border-radius: 30px;
   box-shadow: 1px 5px 15px ;
   width:100%;
}

.card-body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}