body{
background-color: rgb(237, 239, 255);
}

.resumo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-excluir{
    background-color: transparent;
    color: red;
}

.btn-excluir:hover{
    color: rgb(42, 0, 0);
}
.titulo{
    font-size: 25px;
}
ul {
    list-style-type: none; 
    padding-left: 0;
}

li {
    text-decoration: none; 
}
